nav {
	background-color: rgb(255, 255, 255);
	text-align: center;
	left: 0;
	top: 0;
	padding: .25rem;
	position: fixed;
	z-index: 100;
	width: 100%;
	margin-bottom: 5rem;
}

main {
	margin-top: 5rem;
}

h1 {
	text-align: center;
	padding: 10px;
	font-family: 'Lato', sans-serif;
}

nav a {
	display: inline-block;
	font-family: Lato, sans-serif;
	width: 8%;
	min-width: 70px;
	margin: .25rem;
	/*background-color: white;*/
	text-align: center;
	/*border: 1px solid black;*/
	color: black;
	padding: .5rem 1rem;
	text-decoration: none;
	transition-property: color;
	transition-duration: .3s;
}

.blogname {
	text-transform: uppercase;
	font-size: 1.75rem;
	text-weight: 700;
	border: none;
	width: 15%;
	min-width: 200px;
	text-decoration: none;
}

nav a:active {
	color: white;
}

nav a:hover {
	/*background-color: lightgray;*/
	color: darkgray;
}

.blogname:hover {
	color: rgb(100, 100, 100);
}

p {
 font-family: Lato, sans-serif;
}

.bannerfont {
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2rem;
	font-size: 2rem;
	background-color: rgba(255, 255, 255, .5);
	transition-property: background-color;
	transition-duration: .3s;
}

.container {
	position: relative;
}

.bannerfont:hover {
	background-color: rgba(255, 255, 255, .8);
}

.banner {
	display: block;
	margin: auto;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 80%;
	height: auto;
	-webkit-transition: opacity .5s;
	transition: opacity .5;
}

/*.banner:hover {
	opacity: .8;
}*/

@media screen and (max-width: 750px) {
nav a {
	display: block;
}
        
main {
	margin-top: 14rem;
}

.bannerfont{
	font-size: 1.5rem;
}
.banner {
	margin: 0px;
	height: auto;
	min-width: 400px;
	width: 100%;
}
}